{% extends 'base.html' %}

{% block body %}
<div class="container">
    <a class="btn btn-info btn-lg m-5" href="/" role="button">Home</a>
    <h3>データベース</h3>
    <table class="table table-striped table-hover">
        <thread>
            <tr>
                <th scope="col">#</th>
                <th scope="col">87Sr/86Sr</th>
                <th scope="col">87Rb/86Sr</th>
                <th scope="col">Update</th>
                <th scope="col">Delete</th>
            </tr>
        </thread>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td>{{ post.Sr }}</td>
                    <td>{{ post.Rb }}</td>
                    <td><a class="btn btn-success btn-sm" href="/update/{{ post.id }}" role="button">Update</a></td>
                    <td><a class="btn btn-danger btn-sm" href="/delete/{{ post.id }}" role="button">Delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info btn-lg m-5" href="/input" role="button">CREATE NEW DATA</a>
    <br>
    
    <div>
        <h3>同位体年代測定の基本式</h3>
        <div id="f">
            <math>
                <mfrac>
                    <mi>87Sr</mi>
    
                    <mi>86Sr</mi>
                </mfrac>
                <mo>=</mo>
                <msub>
                    <mrow>
                        <mo>(</mo>
                        <mfenced>
                            <mfrac>
                                <mi>87Sr</mi>
                                <mi>86Sr</mi>
                            <mfrac> 
                        </mfenced> 
                        <mo>)</mo>
                    </mrow>
                    <mn>0</mn>
                </msub>
                <mo>+</mo> 
                <mrow>
                    <mfrac>
                        <mi>87Sr</mi>
                        <mi>86Sr</mi>
                    <mfrac>
                </mrow>
                <mo>(</mo>
                <mfenced>
                    <msup>
                        <mi>e</mi>
                        <mi>λt</mi>
                    </msup>
                    <mo>-</mo>
                    <mn>1</mn>
                </mfenced>
                <mo>)</mo>             
            </math>
        </div>

    </div>
    <br>
    <h2><a href="/graph">Create Graph & claculation</a></h2>
</div>
{% endblock %}